<header>
  <nav class="menu" role="navigation">
    <a routerLink="/"
      ><img src="../../../../assets/sw_logo.png" alt="Logo Star Wars"
    /></a>
    <ul class="navbar">
      <li><a routerLink="/" class="link-item">Home</a></li>
      <li><a routerLink="/films" class="link-item">Filmes</a></li>
      <li><a routerLink="/starships" class="link-item">Naves</a></li>
      <li><a routerLink="/people" class="link-item">Personagens</a></li>
      <li><a routerLink="/planets" class="link-item">Planetas</a></li>
      <li><a routerLink="/species" class="link-item">Espécies</a></li>
      <li><a routerLink="/vehicles" class="link-item">Veículos</a></li>
    </ul>
  </nav>
</header>
