<mat-card class="people-details">
  <mat-card-header>
    <mat-card-title>Detalhes do Personagem</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Nome:</strong> {{ data.people.name }}</p>
    <p><strong>Altura:</strong> {{ data.people.height }}</p>
    <p><strong>Peso:</strong> {{ data.people.mass }}</p>
    <p><strong>Cor do Cabelo:</strong> {{ data.people.hair_color }}</p>
    <p><strong>Cor da Pele:</strong> {{ data.people.skin_color }}</p>
    <p><strong>Cor dos Olhos: </strong>{{ data.people.eye_color }}</p>
    <p><strong>Ano de Nascimento:</strong> {{ data.people.birth_year }}</p>
    <p><strong>Gênero:</strong> {{ data.people.gender }}</p>
  </mat-card-content>
</mat-card>
