<mat-card class="specie-details">
  <mat-card-header>
    <mat-card-title>Detalhes da Espécie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Nome:</strong> {{ data.specie.name }}</p>
    <p><strong>Classificação:</strong> {{ data.specie.classification }}</p>
    <p><strong>Designação:</strong> {{ data.specie.designation }}</p>
    <p><strong>Altura Média:</strong> {{ data.specie.average_height }}</p>
    <p><strong>Cores da Pele:</strong> {{ data.specie.skin_colors }}</p>
    <p><strong>Cores de Cabelo:</strong> {{ data.specie.hair_colors }}</p>
    <p><strong>Cores dos Olhos:</strong> {{ data.specie.eye_colors }}</p>
    <p>
      <strong>Expectativa de Vida :</strong> {{ data.specie.average_lifespan }}
    </p>
    <p><strong>Língua:</strong> {{ data.specie.language }}</p>
  </mat-card-content>
</mat-card>
