<mat-card class="film-details">
  <mat-card-header>
    <mat-card-title>Detalhes do Filme</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Titulo:</strong> {{ data.film.title }}</p>
    <p><strong>Episódio:</strong> {{ data.film.episode_id }}</p>
    <p><strong>Sequência de Abertura:</strong> {{ data.film.opening_crawl }}</p>
    <p><strong>Diretor:</strong> {{ data.film.director }}</p>
    <p><strong>Produtores:</strong> {{ data.film.producer }}</p>
    <p><strong>Data de Lançamento:</strong> {{ data.film.release_date }}</p>
  </mat-card-content>
</mat-card>
