.film-details {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  margin-bottom: 20px;
}

.film-details p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.film-details strong {
  color: #333;
}
