<div *ngIf="!isLoading">
  <div class="search-container">
    <form (submit)="searchSpecies()">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        name="search"
        placeholder="Buscar por espécie..."
      />
      <button type="submit">Buscar</button>
    </form>
  </div>
</div>

<div class="species__page container">
  <div *ngIf="isLoading; else contentBlock" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #contentBlock>
    <div *ngIf="noResultsFound; else tableContent" class="error-message">
      Nenhum resultado encontrado.
    </div>
    <ng-template #tableContent>
      <table mat-table [dataSource]="resultSpecies" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="classification">
          <th mat-header-cell *matHeaderCellDef>Classificação</th>
          <td mat-cell *matCellDef="let element">
            {{ element.classification }}
          </td>
        </ng-container>

        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef>Designação</th>
          <td mat-cell *matCellDef="let element">{{ element.designation }}</td>
        </ng-container>

        <ng-container matColumnDef="average_lifespan">
          <th mat-header-cell *matHeaderCellDef>Expectativa de Vida</th>
          <td mat-cell *matCellDef="let element">
            {{ element.average_lifespan }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columns"
          (click)="openDialog(row)"
          class="clickable-row"
        ></tr>
      </table>

      <mat-paginator
        [length]="totalSpecies"
        [pageSize]="pageSize"
        [pageIndex]="currentPage - 1"
        (page)="changePage($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </ng-template>
  </ng-template>
</div>
