<mat-card class="planet-details">
  <mat-card-header>
    <mat-card-title>Detalhes do Planeta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Nome:</strong> {{ data.planet.name }}</p>
    <p>
      <strong>Período de Rotação:</strong> {{ data.planet.rotation_period }}
    </p>
    <p><strong>Período Orbital:</strong> {{ data.planet.orbital_period }}</p>
    <p><strong>Diâmetro:</strong> {{ data.planet.diameter }}</p>
    <p><strong>Clima:</strong> {{ data.planet.climate }}</p>
    <p><strong>Gravidade:</strong> {{ data.planet.gravity }}</p>
    <p><strong>Terreno:</strong> {{ data.planet.terrain }}</p>
    <p><strong>Água da Superfície:</strong> {{ data.planet.surface_water }}</p>
    <p><strong>População:</strong> {{ data.planet.population }}</p>
  </mat-card-content>
</mat-card>
