.films__page {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  max-width: 800px;
  /* Ajuste conforme necessário */
}

.mat-elevation-z8 {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.mat-header-cell,
.mat-cell {
  padding: 12px 30px;
}

th.mat-header-cell {
  background-color: #673ab7;
  color: white;
  font-size: 16px;
}

td.mat-cell {
  background-color: #f3e5f5;
  color: #333;
}

tr.mat-row:hover {
  background-color: #e1bee7;
}

.mat-row,
.mat-header-row {
  transition: background-color 0.3s ease;
}

.mat-spinner {
  margin: auto;
  display: block;
}
